/*/////// Style for full site ///////*/

body {
    margin: 0;
    /*background-color: black;*/
}


#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("http://theird.files.wordpress.com/2013/05/food-justice-grace-hearth_cal-corps-berkeley_130506-article.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: chocolate;
    opacity: .5;
    z-index: -1;
}


/*/////// Login Page ////////*/

#root {
    position: absolute;
    height: 90vh;
    width: 45vw;
    background-color: burlywood;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    border: 2px solid darkgoldenrod;
    box-shadow: 2px 2px 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


.login-wrapper {
    height:auto;
    margin:auto;
    padding: 30vh 0;
    text-align: center;
}

.form {
    width:40%;
    margin: auto;
    text-wrap: none;
}

.form input {
    margin: auto;
    width: 100%;
}

/*/////// User Index ///////*/

#root.open {
    width: 90vw;
}

.page-one, .page-two {
    position: absolute;
    display: inline-block;
    width: 39%;
    height: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5%;
    border-radius: 1px;
}

.page-one {
    background: white;
    background: linear-gradient(90deg, white 90%, lightgray 96%, gray 99%, black 100%);
    left: 26%;
    box-shadow: -4px 3px 9px 4px;
}

.page-two {
    background: white;
    background: linear-gradient(90deg, black 0%, gray 1%, lightgray 4%, white 10%);
    vertical-align: top;
    left: 74%;
    overflow: scroll;
    box-shadow: 4px 3px 9px 4px;
}

.page-title {
}

/*////// Recipe Form ///////*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .5;

}

.form-wrapper {
    background-color: antiquewhite;
    position: absolute;
    top: 5vh;
    width: 60vw;
    height: 90vh;
    z-index: 3;
}

    /*/////// Recipe Page /////////*/

.float-right {
    position: absolute;
    left: 85%;
    top: 4.5%
}
